.container {
  background-image: url("../../assets/HeaderAviatur.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contailner_title{
  width: 50%;
  height: 50%;
  display: flex;
  color: white;
  position: relative;
  left: 112px;
  top: 105px;
  font-family: 'poppins', sans-serif;
  line-height: 96px;
  font-size: 55px;
  font-weight: bold;
}

.icon_logo{
  position: absolute;
  left: 112px;
  top: 62px;
  width: 100px;
  height: 100px;
}
/* pocision derecha */
.container_icon{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  left: 112px;
  top: 105px;
}
